* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  header{
    position: sticky;
    top: 0;
    z-index: 5;
    .menu{
      a{
        color: rgb(58, 177, 15);
      }
    }
   .button{
     .btn{
       text-decoration: none;

     }
   }
    .logo{
      .span{
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #012970;
        font-family: "Nunito", sans-serif;
        margin-top: 3px;
      }
    }
  }
  
  html {
    font-size: 10px;
  }